@{
    ViewData["Title"] = "首页";
}
<link rel="stylesheet" href="~/css/blog.css" />

<div class="react-title">
    <h2>最新内容</h2>
    <div>
        <p style="background-image:url(http://www.tracefact.net/img/icons/detail.png)">144</p>
        <p title="阅读：111111" style="background-image:url()">111111</p>
    </div>
</div>

<div style="border-bottom: 1px dashed #ccc;padding: 0 0 30px;" class="blog">
    <p style="font-size:16px;margin:auto;font-weight:700">
        <a href="#" target="_blank">今天我来测试一个标题</a>
    </p>
    <div class="blog-summary">
        <p>
            1
            "Word Count简直就是大数据届的hello world，所谓Word Count就是计算一行或者一段文本中英文单词的出现个数（英文单词以空格分隔）。这篇文章示范了如何使用Kafka + Spark Streaming来实现一个实时版本的Word Count。这个范例比较简单，仅仅有助于跑通流程。在实时运算时，一个很重要的问题就是：时间窗。比如说，统计实时的在线人数，当有新用户上线时，在线人数+1，但是过15分钟后，如果该用户的“最后活跃时间”仍是上线时间，那么此时就要去除它。"
        </p>
    </div>
    <div style="font-size: 12px;color: #666;text-align: right;clear: both;line-height: 16px;" class="blog-info">
        <span>发表：2018-10-28   </span>
        <span>阅读：(108)   </span>
        <span>分类：大数据处理   </span>
    </div>
</div>

<article id="112" class="post">

    <div class="post-head">
        <h1 class="post-title"><a href="/all-new-ghost-docs-integrations/">全新的 Ghost 文档上线</a></h1>
        <div class="post-meta">
            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
            <time class="post-date" datetime="2018年11月20日星期二下午5点06分" title="2018年11月20日星期二下午5点06分">2018年11月20日</time>
        </div>
    </div>
    <div class="post-content">
        <p>我们的整个 Ghost 文档 已经全新改版了！并且添加了一些新的补充，包括使用教程和功能集成。 新文档的目标是帮助更多人有效地安装并管理他们发布的内容，并且最大限度地发挥 Ghost 作为一个开源发布平台的灵活性。文档的设计和结构已经修订完毕，我们的改进包括 Ghost 安装和设</p>
    </div>
    @*<div class="post-permalink">
        <a href="/all-new-ghost-docs-integrations/" class="btn btn-default">阅读全文</a>
    </div>*@

    <footer class="post-footer clearfix">
        <div class="pull-left tag-list">
            <i class="fa fa-folder-open-o"></i>
        </div>
        <div class="pull-right share">
        </div>
    </footer>
</article>