
@{
    ViewData["Title"] = "登录";
}

<h2>登录</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["returnUrl"]" method="post">
            <div class="form-group">
                <label>用户名：</label>
                <input type="text" name="userName" class="form-control" />
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" name="userPwd" class="form-control" />
            </div>
            <input class="btn btn-default" type="submit" value="登录" />
        </form>
    </div>
</div>